#activity-creator {
  width: 100%;
  margin-bottom: 0.001em;
}
.image {
  margin: auto;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  width: 420px;
  height: 236.25px;
}
@media screen and (max-width: 420px) {
  .image {
    width: 100%;
    height: 56.25vw;
  }
}
.content {
  margin: 0 0.96em;
  position: relative;
}
option {
  color: #000;
}
option[disabled] {
  color: #666;
}
.sum-error {
  position: absolute;
  bottom: 0em;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgba(255, 0, 0, 0.6);
  font-size: 0.45em;
  font-weight: bold;
}
.button-content {
  margin: 0 0.96em;
  padding-bottom: 0.001em;
}
.button {
  cursor: default;
  margin: auto;
  margin-bottom: 0.833333em;
  box-shadow: 0.1em 0.1em 0.25em rgba(80, 80, 80, 0.5);
  background-color: #fff;
  width: 6em;
  height: 1.46em;
  border-radius: 0.73em;
  font-size: 0.72em;
  font-weight: bold;
  word-spacing: 0.25em;
  color: #2fab88;
  position: relative;
}
.button-text {
  height: 1em;
  line-height: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-dis {
  background-color: #e5e5e5;
}